html {
    font-family: Roboto;
}

.container {
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: darkslategrey;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    height: 2em;
}

.header-links a {
    text-decoration: none;
    color: grey;
}

.hero {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
}

.hero-image {

}

.hero-info {
    height: 5em;
}

.hero-info button {
    display: block;
}

.hero span {
    font-size: larger;
    font-weight: bold;
}

.hero-image {
    height: 5em;
}

.cards-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: white;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    background-color: white;
}

.card {
    border: blue 1px solid;
    border-radius: 5px;
    padding: 2em;
}

.quote {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-style: italic;
}

.quote span {
    font-weight: bold;
    margin-left: auto;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup p {
    background-color: blue;
    padding: 1em 6em 1em 6em;
    color: white;
}

.footer {
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;
}